<%- include('patials/header')  %> 
<%- include('patials/navbar')  %> 

<div class="new-book-body"></div>
    <div class="new-book-container">
        <h1>Edit your comment</h1>
        <form method="POST" name="form" action="/comics/<%= comic._id  %>/comments/<%= comment._id  %>?_method=PUT" data-netlify="True" data-netlify-recaptcha="true">
                <div class="column">
                    <label for="comment">Comment</label>
                    <textarea name="comment" placeholder="Share a comment about this book" id="comment"  rows="3"><%= comment.text  %></textarea>
                </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>








<%- include('patials/footer')  %> 